<h1>My Inventory <a class="add contain" href="/new">+</a></h1>

<div class="content">
   <ul class="items">
   {{#each items}}
      <li>
         <div class="actions">
            <a href="/{{id}}/edit" class="edit button">edit</a>
            <span class="delete" data-id="{{id}}">&times;</span>
         </div>
         <div class="info">
            <a href="/{{id}}"><header class="name">{{name}}</header></a>
            <p class="description">{{description}}</p>
         </div>
      </li>
   {{/each}}
   <ul>
</div>
